pandas
numpy
scikit-learn
matplotlib
seaborn
scipy==1.11.4
statsmodels
flask
werkzeug
jinja2
itsdangerous
click
pillow
joblib
threadpoolctl
packaging
python-dateutil
tzdata
six
blinker
